@model List<u19012285_HW03.Models.FileModel>
@{
    ViewBag.Title = "Image";
}

<h2>Image Files</h2>
<div class="container-fluid">
    <div class="row Images">
        @foreach(var file in Model)
            {
                <div class="col-lg-4">
                    <div class="card" style="width: 16rem";>
                        <a href="@Url.Content("~/Images/" + file.FileName)">
                            <img class="card-Image" height="300" width="400" src="~/Images/@file.FileName" />
                        </a>
                        <div class="card-body">
                            <h4>@file.FileName</h4>
                            <button class="btn btn-success">Download</button>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>